<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ustadmobile.retriever.testapp">

    <!-- To scan for devices locally using bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <!-- To use the Companion Device pairing to scan for nearby devices using bluetooth primarily -->
    <uses-feature android:name="android.software.companion_device_setup"/>


    <application
        android:name="com.ustadmobile.retriever.testapp.RetrieverTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Retriever">

        <activity
            android:name="com.ustadmobile.retriever.testapp.BottomNavActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Retriever.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Used to allow users to open a downloaded file -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider_path" />
        </provider>
    </application>

</manifest>